.links-container
  .home= link_to 'Strona główna', dashboard_path
  .invoice= link_to 'Moje faktury', invoice_index_path
  .settlements= link_to 'Rozliczenia tygodniowe', settlement_path
  .companies= link_to 'Firmy współpracujące', company_properties_path
  .export= link_to 'Eksport danych', exports_path