.links-container
  .home= link_to t('views.layouts.main_page'), dashboard_path
  .invoice= link_to t('views.layouts.my_invoices'), invoice_index_path
  .settlements= link_to t('views.layouts.week_settlements'), week_settlements_path
  .month_settlements= link_to t('views.layouts.month_settlements'), month_settlements_path
  .companies= link_to t('views.layouts.cooperate_companies'), company_properties_path
  .export= link_to t('views.layouts.export_data'), exports_path