.top-panel
  .settings-container
    = icon 'notifications'
    .dropdown
      = icon 'settings', id: 'settings-icon'
      .dropdown-content
        = link_to 'Użytkownicy', users_index_path
        = link_to 'Role', roles_path
        = link_to ' Wyloguj', destroy_user_session_path, method: :delete, class: 'no-btn'
