.top-panel
  .settings-container
    .user-email=t('views.layouts.logged_as')
    .current-user-email= current_user.email
    = render partial: 'partials/language'
    = icon 'notifications'
    .dropdown
      = icon 'settings', id: 'settings-icon'
      .dropdown-content
        - if current_user.admin?
          = link_to t('views.layouts.users'), users_index_path
          = link_to t('views.layouts.roles'), roles_path
          = link_to t('views.layouts.setting'), settings_path
        = link_to t('views.layouts.sign_out'), destroy_user_session_path, method: :delete, class: 'no-btn'

  - if current_user.admin?
    .admin-panel-container
      .invoice-vat-container
        = link_to t('views.layouts.vat_rates'), invoice_vat_rate_index_path
      .invoice-type-container
        = link_to t('views.layouts.invoice_types'), invoice_type_index_path
