.mid-panel
  .personal-document-container
    %h3 Statystki dokumentu
    .invoice-statistics-container
      - if current_user.admin?
        .invoice-id= "#{t('views.layouts.invoices.show.document_id')} #{@invoice_statistic.id}"
      .invoice-nip= "#{t('views.layouts.invoices.show.nip')} #{@invoice_statistic.company.nip}"
      .invoice-name= "#{t('views.layouts.invoices.show.name')} #{@invoice_statistic.name}"
      .invoice-nr= "#{t('views.layouts.invoices.show.invoice_nr')} #{@invoice_statistic.invoice_nr}"
      .invoice-st= "#{t('views.layouts.invoices.show.invoice_status')} #{@invoice_statistic.invoice_status}"
      .invoice-description= "#{t('views.layouts.invoices.show.invoice_description')} #{@invoice_errors}"