= form_for @user, url: users_path, method: :post do |f|
  = f.label 'email'
  = f.text_field :email
  = f.label 'hasło'
  = f.password_field :password
  = f.label 'rola'
  = f.text_field :role_id
  = f.submit "Dodaj"