!!!
%html{lang: 'pl'}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    %link{ rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" }
    %script{ src:"https://cdn.jsdelivr.net/npm/flatpickr" }
    %link{ rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" }
    %script{ src: "https://cdn.jsdelivr.net/npm/flatpickr" }
    %script{ src: "https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pl.js" }

  = javascript_importmap_tags
  %body
    %main
      .dashboard
        = render partial: 'partials/left_panel'
        .main-container
          = render partial: 'partials/nav_panel'
          = render partial: 'partials/messages'
          = yield