!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css", media: "all"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin/6.0.2/css/sb-admin.min.css", media: "all"
    = stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %main
      .dashboard
        = render partial: 'partials/left_panel'
        .container
          = render partial: 'partials/nav_panel'
          = yield