!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag 'dashboard', 'data-turbo-track': 'reload'
  %body
    %main
      .dashboard
        = render partial: 'partials/left_panel'
        .main-container
          = render partial: 'partials/nav_panel'
          = render partial: 'partials/messages'
          = yield